html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #cde5f8;
}
.content {
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

table {
    margin: auto;
}

td {
    width: 55px;
    height: 55px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: #1795f5da;
}

td:hover {
    background: rgb(15, 3, 245);
    color: white;
    cursor: pointer;
    transition: .3s;
}

.empty {
    background: none;
}

.empty:hover {
    background: none;
}

.header {
    font-size: 10px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}

.just-moved {
    background: silver !important;
    transition: .3s;
    transform: scale(0);
    color: red;
}

.startScreen {
    display: flex;
    flex-flow: column;
    justify-content: middle;
}